 html {
    /* распространяется на весь документ */
    font-size: 14px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту */
    font-family: "Open Sans";  
    background-color: #66a1d8c4;
    }

 #testid123 {  /*только на один обьект типа id*/
    color: red;
    width: 500px;
    border: 1px solid rgb(53, 173, 69);   
 }
 .my-class123 {   /*на все обьекты этого типа*/
    color: rgb(38, 0, 255);
    width: 500px;
    border: 6px solid black; 
      
 }
 a:hover { /*работает на всех обьектах при наведении курсора*/
    color: rgb(255, 0, 98);
   width: 500px;
   border: 10px solid rgb(165, 26, 142);
 }


 li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
 }

 p {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
 }

 body {
    width: 600px;    
    margin: 16px auto;
    background-color: #ff9500;
    padding: 0 30px 20px 20px;
    border: 2px solid rgb(214, 24, 24);
 }

 h1 {
    margin: 0;
    padding: 20px 120px;
    color: #00539F;
    text-shadow: 3px 3px 3px black;
 }

 img {
    display: block;
    margin: 0 auto;
 }

 img:hover {
    border: 1px solid rgb(214, 24, 24); 
 }

 #mydiv1 {
  height: 169px;
 }

.table {display:block;}
        
.row { display:block;
       height: 144px;  
       border: 1px solid #666666;
      }
   
.col1 {display:inline-block;
   border: 1px solid #666666;   
   block-size: 12px;
   margin-left: 100px 
   }
.col2 {display: inline-block;;
       border: 2px solid #666666;
       margin-left: 120px 
       }       
