/* 
       padding  – пространство только вокруг контента (например, вокруг абзаца текста);
       border – сплошная линия, которая расположена рядом с padding;
       margin  – пространство вокруг внешней стороны элемента. */
/* width – ширина элемента;
background-color – цвет позади контента и padding элементов;
color – цвет контента элемента (обычно текста);
text-shadow – устанавливает тень на тексте внутри элемента;
display – устанавливает режим отображения элемента (пока что не волнуйтесь об этом). */
       
       .body-class { /**/
        width: 600px;    
        margin: 10em auto;
        background-color: #ff9500;
        padding: 2rem;
        border: 0.5rem inset  pink;
        /*border-style: [none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset] {1,4} | inherit*/
        border-radius: 12px;
        outline: 0.5rem solid khaki;
        box-shadow: 0 0 0 5rem gray;
     }

    html {/*задаст всей странице шрифт и размер текста*/
        font-size: 12px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту */
        font-family: "Open Sans";  /*из http://fonts.googleapis.com/css?family=Open+Sans подключенного в странице через link*/
        background-color: black;        
     }

    .img-class {/*дисплей блок задает блочное поведение для строчного*/
        display: block;
        margin: 0 auto;
    }
    
    div { display: block;
        margin: 2em 0 2em 0;}