<style type="text/css">
    .class-banner1 { 
        font-size: 1.5em; 
        font-family: sans-serif;     
        border: 2px;
        width : 600px;
        color: red;        
       }      
</style>
    
<div class = "class-banner1" >    
    <p>
    Обратите внемание данная задача назначается всей группе безопасности, используя механизм
    Кто первый. Для закрепления задачи за собой нужно 
    <b>нажать кнопку - Работа начата.</b>
    Если по истечению отведенного времени, ни кто не взял задачу в работу, задача назначается на руководителя.
    </p>
</div>    
